<nav class="navbar navbar-light bg-light mb-5 px-5">
  <span class="navbar-brand mb-0 h2 px-5">Restaurants</span>
  <%= link_to new_restaurant_path do%>
  <button type="button" class="btn btn-secondary btn-lg px-4">
    Add Restaurant
  </button>
  <% end %>
</nav>

<div class="container">
  <div class="row">
<% @restaurants.each do |restaurant| %>
<div class="col">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5e977e9edb951e63b0b6bd04/1f14a350-8e1e-48b6-acd4-913a88a4ea2e/types-of-restaurants-classification-and-categories-explained.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= restaurant.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.category %> </h6>
    <%= link_to "See more", restaurant_path(restaurant) %>
  </div>
</div>
</div>
<% end %>
</div>
</div>
